* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: transparent;
}

body, input, button, select, option {
    color: white;
    font: 14px/1.5 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

body, a {
    cursor: default;
    outline: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-user-select: none;
}

a, img {
    -webkit-user-drag: none;
}

img {
    vertical-align: bottom;
}

#overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 1s background;
    }
    #overlay.show {
        background: rgba(0, 0, 0, .7);
}

#box {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 5px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: .5s opacity;
    }
    #box.show {
        opacity: 1;
    }
    #box .inner {
        height: 50px;
        width: 50px;
        position: relative;
        transition: .5s height, .5s width;
    }
    #box .inner img {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: .5s opacity;
    }
    #box .inner img.show {
        opacity: 1;
}

#test {
    position: absolute;
    left: 150%;
    top: 150%;
    visibility: hidden;
}
