* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: transparent;
}

body, input, button, select, option {
    color: white;
    font: 16px/1.5 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

body, a {
    cursor: default;
    outline: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-user-select: none;
}

a, img {
    -webkit-user-drag: none;
}

img {
    vertical-align: bottom;
}

#overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 1s background;
    }
    #overlay.show {
        background: rgba(0, 0, 0, .7);
}

#box {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2px;
        background: #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: .5s opacity;
    }
    #box.show {
        opacity: 1;
    }
    #box .prev, #box .next {
        position: absolute;
        top: 50%;
        right: -30px;
        height: 28px;
        width: 28px;
        background: rgba(0, 0, 0, .7) url('img/arrow.png') no-repeat center;
        transform: translateY(-50%);
        transition: .2s left, .2s right;
        z-index: 100;
    }
    #box .prev {
        right: auto;
        left: -30px;
        transform: scaleX(-1) translateY(-50%);
    }
    #box .inner.show .prev { left: 0 }
    #box .inner.show .next { right: 0 }
    #box .prev:hover, #box .next:hover, #box .prev:focus, #box .next:focus {
        background-color: black;
    }
    #box .inner {
        height: 90px;
        width: 90px;
        min-height: 90px;
        min-width: 90px;
        position: relative;
        overflow: hidden;
        transition: .5s height, .5s width;
    }
    #box .inner img {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: .5s opacity;
    }
    #box .inner.show img {
        opacity: 1;
    }
    #box .inner .caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        height: 30px;
        padding: 10px 20px;
        background: rgba(0, 0, 0, .8);
        font-weight: lighter;
        line-height: 30px;
        transition: .2s bottom;
    }
    #box .inner.show .caption.show {
        bottom: 0;
    }
    #box .inner .caption h1 {
        display: inline;
        font-size: 22px;
        font-weight: lighter;
    }
    #box .inner .caption p {
        display: inline;
        margin-left: 10px;
        color: #ccc;
}

#test {
    position: absolute;
    left: 150%;
    top: 150%;
    visibility: hidden;
}
